@Model Assignment_01.Models.ViewModels.PersonViewModel
@{
    ViewData["Title"] = "Create";
}
<div>
    <h2>Create Person</h2>
    <form asp-controller="People" asp-action="Create" method="post" class="form-control">
        <label for="name" ></label>
        <input type="text" id="name" name="Name" placeholder="Enter Name"  required/>
        <label for="city"></label>
        <input type="text" id="city" name="City" placeholder="Enter City"  required />
        <label for="phone"></label>
        <input type="number" id="phone" name="PhoneNumber" placeholder="Enter Phone number" required />
        <input type="submit" value ="Create" class="btn-primary"/>
    </form>
</div>